/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*{
  font-size: 14px !important;
}
.ck-editor__editable_inline {
  min-height: 500px;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border: 1px solid;
}
