.btnnew{
    position: absolute;
    right: 30px;
}
.loading{
    width: 200px;
    margin: auto;
}
.mat-header-cell{
    justify-content: center;
}
.mat-cell{
    justify-content: center;
}
.mat-table{
    max-height: 400px;
    overflow: auto;
}